{% extends "home/layout.twig" %}
{% set active_page = "ah" %}

{% block content %}
    <div class="row content-block">
        <div class="col-xs-9 col-centered">
            <div class="content-title content-centered">
                <p>Wij doen dit jaar ook mee met de Iens actie!</p>
            </div>
        </div>
    </div>
    <div class="row content-block">
        <div class="col-xs-9 col-centered">
            <div class="content-text">
                <p>
                    Wij doen dit jaar ook mee met de Iens actie!
                    Bij Eetcafé de Kooiker kunt u ook uw Albert Heijn Iens kaart inleveren voor een lekker goedkoop
                    etentje!
                    U kunt bij ons gewoon À la carte eten (met uitzondering van het 20,50 menu en uw goedkoopste voor-,
                    hoofd- én na-gerecht wordt van de bon afgetrokken!
                </p>
            </div>
        </div>
    </div>
    <div class="row content-block">
        <div class="col-xs-9 col-centered">
            <div class="content-text">
                <p>Heeft u dus zin om lekker te eten en ook nog is héél goedkoop? Bel ons en geniet!</p>
            </div>
        </div>
    </div>
{% endblock %}