.no-padding {
  padding: 0 !important;
}
.content-centered {
  text-align: center;
}
.col-centered {
  margin: 0 auto;
  float: none;
}
body {
  background-image: url("../images/site-background.png");
}
body .body-background-holder {
  position: relative;
}
body .body-background-holder .body-background {
  border: 3px solid black;
  border-top: 0;
  border-bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  float: none;
}
body .header .header-image {
  background-image: url("../images/site-header-image.png");
  height: 200px;
  background-size: contain;
}
body .body {
  background-color: transparent;
}
body .body .header-seperator {
  height: 5px;
}
body .body .navigation {
  border-top: 3px solid #5b0100;
  border-bottom: 3px solid #5b0100;
  height: 40px;
}
body .body .navigation ul {
  margin-top: -3px;
  list-style-type: none;
  width: 100%;
  display: table;
  padding: 0;
  height: 40px;
  margin-bottom: 0;
}
body .body .navigation ul li {
  margin: -3px 0;
  border-top: 3px solid #5b0100;
  border-bottom: 3px solid #5b0100;
  height: 100%;
  display: table-cell;
  transition: .2s linear;
}
body .body .navigation ul li a {
  text-align: center;
  list-style-type: none;
  display: list-item;
  margin-top: 5px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: .2s linear;
}
body .body .navigation ul li:last-child {
  padding-right: 25px;
  width: auto;
}
body .body .navigation ul li:hover,
body .body .navigation ul li.active {
  background-color: #640200;
  transition: .2s linear;
}
body .body .navigation ul li:hover a,
body .body .navigation ul li.active a {
  text-decoration: none;
  color: dimgrey;
  transition: .2s linear;
}
body .content .content-block {
  padding-top: 30px;
}
body .content .content-block .content-text p {
  color: white;
  font-size: 24px;
}
body .content .image-block .image-holder {
  padding: 0;
  width: 100%;
  display: table;
  border-spacing: 25px;
}
body .content .image-block .image-holder .content-image {
  height: 300px;
  display: table-cell;
  border-radius: 50px;
}
body .footer {
  position: relative;
  z-index: 50;
  border-width: 4px 0;
  border-style: double;
  border-color: #93701F;
  height: 150px;
  background-color: #5C0202;
  margin-bottom: 50px;
}
body .footer .row {
  margin-top: -4px;
}
body .footer .footer-title {
  color: white;
  text-align: center;
}
body .footer .footer-title a {
  color: white;
}
body .footer .footer-title a:hover {
  text-decoration: none;
}
body .footer .footer-title .title-text {
  padding-right: 25px;
}
body .footer .footer-content {
  padding-bottom: 15px;
  color: white;
  text-align: center;
}
