.no-padding {
  padding: 0 !important;
}
.content-centered {
  text-align: center;
}
.col-centered {
  margin: 0 auto;
  float: none;
}
body {
  background-image: url("../images/site-background.png");
}
body #main-wrapper {
  padding: 0 0 100px;
  position: relative;
}
body #main-wrapper .body-background {
  min-height: 90%;
  border: 3px solid black;
  border-top: 0;
  border-bottom: 0;
  background-position: center;
  background-size: cover;
}
body #main-wrapper .header .header-image {
  background-image: url("../images/site-header-image.png");
  height: 200px;
  background-size: contain;
}
body #main-wrapper .body {
  background-color: transparent;
}
body #main-wrapper .body .header-seperator {
  height: 5px;
}
body #main-wrapper .body .navigation {
  border-top: 3px solid #5b0100;
  border-bottom: 3px solid #5b0100;
  height: 40px;
}
body #main-wrapper .body .navigation ul {
  margin-top: -3px;
  list-style-type: none;
  width: 100%;
  display: table;
  padding: 0;
  height: 40px;
  margin-bottom: 0;
}
body #main-wrapper .body .navigation ul li {
  margin: -3px 0;
  border-top: 3px solid #5b0100;
  border-bottom: 3px solid #5b0100;
  height: 100%;
  display: table-cell;
  transition: .2s linear;
}
body #main-wrapper .body .navigation ul li a {
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  list-style-type: none;
  display: list-item;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: .2s linear;
}
body #main-wrapper .body .navigation ul li:last-child {
  padding-right: 25px;
  width: auto;
}
body #main-wrapper .body .navigation ul li:hover,
body #main-wrapper .body .navigation ul li.active {
  background-color: #640200;
  transition: .2s linear;
}
body #main-wrapper .body .navigation ul li:hover a,
body #main-wrapper .body .navigation ul li.active a {
  text-decoration: none;
  color: dimgrey;
  transition: .2s linear;
}
body #main-wrapper .content-block {
  margin: 0;
}
body #main-wrapper .content-block .content-text {
  padding-top: 25px;
}
body #main-wrapper .content-block .content-text p {
  font-family: 'Patrick Hand', cursive;
  color: white;
  font-size: 30px;
}
body #main-wrapper .content-block .content-title {
  padding-top: 25px;
}
body #main-wrapper .content-block .content-title p {
  font-family: 'Alex Brush', cursive;
  color: white;
  font-size: 40px;
}
body #main-wrapper .content-block .content-time {
  background-color: #5b0100;
  padding: 15px;
  border: 10px double white;
  border-radius: 15px;
}
body #main-wrapper .content-block .content-time .row {
  margin: 0;
}
body #main-wrapper .content-block .content-time span {
  line-height: 1.2;
  font-family: 'Patrick Hand', cursive;
  color: white;
  font-size: 18px;
}
body #main-wrapper .content-block .content-time .time-hours {
  float: right;
}
body #main-wrapper .content-block .time-description {
  margin-top: 15px;
  font-family: 'Patrick Hand', cursive;
  color: white;
  font-size: 22px;
}
body #main-wrapper .image-block {
  padding-bottom: 50px;
}
body #main-wrapper .image-block .image-holder {
  padding: 0;
  width: 100%;
  display: table;
  border-spacing: 25px;
}
body #main-wrapper .image-block .image-holder .content-image {
  height: 300px;
  display: table-cell;
  border-radius: 50px;
}
body .footer {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  border-width: 4px 0;
  border-style: double;
  border-color: #93701F;
  height: 150px;
  background-color: #5C0202;
}
body .footer .row {
  margin-top: -4px;
}
body .footer .footer-title {
  color: white;
  text-align: center;
}
body .footer .footer-title a {
  color: white;
}
body .footer .footer-title a:hover {
  text-decoration: none;
}
body .footer .footer-title .title-text {
  font-family: 'Patrick Hand', cursive;
}
body .footer .footer-content {
  font-size: 16px;
  font-family: 'Patrick Hand', cursive;
  padding-bottom: 15px;
  color: white;
  text-align: center;
}
