.no-padding {
  padding: 0 !important;
}

.content-centered {
  text-align: center;
}

.col-centered {
  margin: 0 auto;
  float: none;
}

body {
  #main-wrapper {
    padding: 0 0 100px;
    position: relative;

    .body-background {
      min-height: 90%;
      border: 3px solid black;
      border-top: 0;
      border-bottom: 0;
      background-position: center;
      background-size: cover;
    }

    //header

    .header {
      .header-image {
        background-image: url("../images/site-header-image.png");
        height: 200px;
        background-size: contain;
      }
    }

    //body

    .body {
      .header-seperator {
        height: 5px;
      }
      .navigation {
        border-top: 3px solid #5b0100;
        border-bottom: 3px solid #5b0100;
        height: 40px;
        ul {
          margin-top: -3px;
          list-style-type: none;
          width: 100%;
          display: table;
          padding: 0;
          height: 40px;
          margin-bottom: 0;
          li {
            a {
              font-family: 'Patrick Hand', cursive;
              text-align: center;
              list-style-type: none;
              display: list-item;
              color: white;
              font-weight: bold;
              font-size: 24px;
              transition: .2s linear;
            }
            margin: -3px 0;
            border-top: 3px solid #5b0100;
            border-bottom: 3px solid #5b0100;
            height: 100%;
            display: table-cell;
            transition: .2s linear;
          }
          li:last-child {
            padding-right: 25px;
            width: auto;
          }
          li:hover, li.active {
            background-color: #640200;
            transition: .2s linear;
            a {
              text-decoration: none;
              color: dimgrey;
              transition: .2s linear;
            }
          }
        }
      }

      background-color: transparent;
    }

    //content
    .content-block {
      margin: 0;

      .content-text {
        padding-top: 25px;
        p {
          font-family: 'Patrick Hand', cursive;
          color: white;
          font-size: 30px;
        }
      }
      .content-title {
        padding-top: 25px;
        p {
          font-family: 'Alex Brush', cursive;
          color: white;
          font-size: 40px;
        }
      }
      .content-time {
        background-color: #5b0100;
        padding: 15px;
        border: 10px double white;
        border-radius: 15px;
        .row {
          margin: 0;
        }
        span {
          line-height: 1.2;
          font-family: 'Patrick Hand', cursive;
          color: white;
          font-size: 18px;
        }
        .time-hours {
          float: right;
        }
      }
      .time-description {
        margin-top: 15px;
        font-family: 'Patrick Hand', cursive;
        color: white;
        font-size: 22px;
      }
    }
    .image-block {
      padding-bottom: 50px;
      .image-holder {
        padding: 0;
        width: 100%;
        display: table;
        border-spacing: 25px;
        .content-image {
          height: 300px;
          display: table-cell;
          border-radius: 50px;
        }

      }
    }
  }

  //footer
  .footer {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    .row {
      margin-top: -4px;
    }
    .footer-title {

      a {
        color: white;
      }
      a:hover {
        text-decoration: none;
      }
      .title-text {
        font-family: 'Patrick Hand', cursive;
      }
      color: white;
      text-align: center;
    }
    .footer-content {
      font-size: 16px;
      font-family: 'Patrick Hand', cursive;
      padding-bottom: 15px;
      color: white;
      text-align: center;
    }
    border-width: 4px 0;
    border-style: double;
    border-color: #93701F;
    height: 150px;
    background-color: #5C0202;
  }
  background-image: url("../images/site-background.png");
}