.no-padding {
  padding: 0 !important;
}

.content-centered {
  text-align: center;
}

.col-centered {
  margin: 0 auto;
  float: none;
}

body {

  #main-wrapper {
    padding: 0 0 100px;
    position: relative;

    .body-background {
      min-height: 90%;
      border: 3px solid black;
      border-top: 0;
      border-bottom: 0;
      background-position: center;
      background-size: cover;
    }

    //content
    .content-block {
      margin: 0;

      .content-text {
        padding-top: 25px;
        p {
          font-family: 'Patrick Hand', cursive;
          color: white;
          font-size: 30px;
        }
      }

      .content-title {
        padding-top: 25px;
        p {
          font-family: 'Alex Brush', cursive;
          color: white;
          font-size: 40px;
        }
      }
    }
  }
  background-image: url("../images/site-background.png");
}
@import "home/contact.css";
@import "home/footer.css";
@import "home/header.css";
@import "home/home.css";
@import "home/nav.css";
@import "home/time.css";