<div class="footer">
    <div class="footer-title">
        <h4>
                                <span class="title-text">
                                    Contact
                                </span>
            <a href="https://www.facebook.com/EetcafeDeKooiker/">
                <i class="fa fa-facebook" aria-hidden="true"></i></a>
        </h4>
    </div>

    <div class="footer-content">
        Kooikersgracht 9, 3831NG Leusden, Nederland<br>
        033-4325200<br>
        <br>
        Door Myron van Leuveren voor Eetcafé de Kooiker
    </div>
</div>