<div class="navigation">
    <ul>
        <li class="page-link
{% if(active_page == 'templates') %} active{% endif %}">
            <a href="{{ path('templates.home') }}"> Home</a>
        </li>
        <li class="page-link
{% if(active_page == 'ah') %} active{% endif %}">
            <a href="{{ path('templates.ah') }}"> Albert Heijn actie</a>
        </li>
        <li class="page-link
{% if(active_page == 'menu') %} active{% endif %}">
            <a href="{{ path('templates.menu') }}"> Menu's</a>
        </li>
        <li class="page-link
{% if(active_page == 'contact') %} active{% endif %}">
            <a href="{{ path('templates.contact') }}"> Contact</a>
        </li>
        <li class="page-link
{% if(active_page == 'gastenboek') %} active{% endif %}">
            <a href="#"> Gastenboek</a>
        </li>
        <li class="page-link
{% if(active_page == 'foto') %} active{% endif %}">
            <a href="#"> Fotoalbum</a>
        </li>
    </ul>
</div>