<div class="navigation">
    <ul>
        <li class="page-link
{% if(active_page == 'home') %} active{% endif %}">
            <a href="{{ path('home.home') }}"> Home</a>
        </li>
        <li class="page-link
{% if(active_page == 'ah') %} active{% endif %}">
            <a href="{{ path('home.ah') }}"> Albert Heijn actie</a>
        </li>
        <li class="page-link
{% if(active_page == 'menu') %} active{% endif %}">
            <a href="#"> Menu's</a>
        </li>
        <li class="page-link
{% if(active_page == 'contact') %} active{% endif %}">
            <a href="#"> Contact</a>
        </li>
        <li class="page-link
{% if(active_page == 'gastenboek') %} active{% endif %}">
            <a href="#"> Gastenboek</a>
        </li>
        <li class="page-link
{% if(active_page == 'foto') %} active{% endif %}">
            <a href="#"> Fotoalbum</a>
        </li>
    </ul>
</div>