{% extends "home/layout.twig" %}
{% block content %}
    <div class="row content-block">
        <div class="col-xs-9 col-centered">
            <div class="content-text content-centered">
                <p>In het hart van Leusden op winkelcentrum ‘t Hamershof, vindt u eetcafé de Kooiker waarbij de prijs en
                    kwaliteitverhouding, sfeer en gastvrijheid hoog in het vaandel staan. Bovendien parkeert u gratis.
                    Eetcafé de kooiker is een horeca gelegenheid waar iedereen zich meteen thuis voelt.
                </p>
            </div>
        </div>
    </div>
    <div class="row content-block">
        <div class="col-xs-9 col-centered">
            <div class="content-text content-centered">
                <p>Ook wij doen weer mee met de albert heijn iens actie!
                    Wij hebben geen albert heijn keuze menu, maar u kunt bij ons gewoon à la carte eten (met uitzondering
                    van het 20,50 euro menu)!
                </p>
            </div>
        </div>
    </div>
    <div class="row content-block">
        <div class="col-xs-9 col-centered">
            <div class="content-text content-centered">
                <p>De Kooiker is voor jong en oud <br>
                    “gewoon genieten”.
                </p>
            </div>
        </div>
    </div>
    <div class="row image-block">
        <div class="col-xs-9 col-centered">
            <ul class="image-holder">
                <li class="content-image" style='background-image:url("{{ asset('/views/images/home-image-1.webp') }}")'></li>
                <li class="content-image" style='background-image:url("{{ asset('/views/images/home-image-2.webp') }}")'></li>
            </ul>
        </div>
    </div>
{% endblock %}