{% extends "home/layout.twig" %}
{% set active_page = "contact" %}

{% block content %}
    <div class="row content-block">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="content-title">
                <p>Contact met ons opnemen?</p>
            </div>
        </div>
    </div>
    <div class="row content-block">
        <div class="col-xs-offset-1 col-xs-5">
            <div class="content-time">
                <div class="container-fluid no-padding">
                    <div class="row  no-padding">
                        <div class="col-xs-6  no-padding">
                            <span class="time-date">Maandag:</span>
                        </div>
                        <div class="col-xs-6  no-padding">
                            <span class="time-hours">17:00 - 22:00</span>
                        </div>
                    </div>
                    <div class="row  no-padding">
                        <div class="col-xs-6  no-padding">
                            <span class="time-date">Dinsdag:</span>
                        </div>
                        <div class="col-xs-6  no-padding">
                            <span class="time-hours">17:00 - 22:00</span>
                        </div>
                    </div>
                    <div class="row  no-padding">
                        <div class="col-xs-6  no-padding">
                            <span class="time-date">Woensdag:</span>
                        </div>
                        <div class="col-xs-6  no-padding">
                            <span class="time-hours">17:00 - 22:00</span>
                        </div>
                    </div>
                    <div class="row  no-padding">
                        <div class="col-xs-6  no-padding">
                            <span class="time-date">Donderdag:</span>
                        </div>
                        <div class="col-xs-6  no-padding">
                            <span class="time-hours">17:00 - 22:00</span>
                        </div>
                    </div>
                    <div class="row  no-padding">
                        <div class="col-xs-6  no-padding">
                            <span class="time-date">Vrijdag:</span>
                        </div>
                        <div class="col-xs-6  no-padding">
                            <span class="time-hours">17:00 - 22:00</span>
                        </div>
                    </div>
                    <div class="row  no-padding">
                        <div class="col-xs-6  no-padding">
                            <span class="time-date">Zaterdag:</span>
                        </div>
                        <div class="col-xs-6  no-padding">
                            <span class="time-hours">17:00 - 22:00</span>
                        </div>
                    </div>

                    <div class="row  no-padding">
                        <div class="col-xs-6  no-padding">
                            <span class="time-date">Zondag:</span>
                        </div>
                        <div class="col-xs-6  no-padding">
                            <span class="time-hours">17:00 - 22:00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="contact-text">
                <br>
                <p>Eetcafé de Kooiker:<br>
                    Kooikersgracht 9 3831 NG Leusden<br>
                    033-4325200
                    <a href="https://www.facebook.com/EetcafeDeKooiker/">
                        <span class="fa-stack fa-1x icon-facebook">
                         <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-1x fa-stack-1x" aria-hidden="true"></i>
                        </span>
                    </a>
                </p>
                <p>
                    Uitsluitend telefonisch reserveren!
                </p>

            </div>
        </div>
    </div>
    <div class="row content-block">
        <div class="col-xs-offset-1 col-xs-5">
            <div class="time-description">
                <p>Keuken open tot 1 uur voor sluitingstijd</p>
                <br>
                <p>(Als het rustig is behouden wij te allen tijde het recht om eerder te sluiten dan 22:00 uur)</p>
            </div>
        </div>
    </div>
    <div class="row content-block">
        <div class="col-xs-12 no-padding">
            <iframe class="contact-map"
                    height="450px"
                    width="100%"
                    frameborder="0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAHTPqfWl2uwg0Zg0NnQqCc8LoQntMDV8w
    &q=Kooikersgracht,+Leusden" allowfullscreen>
            </iframe>
        </div>
    </div>
{% endblock %}