{% extends "home/layout.twig" %}
{% set active_page = "menu" %}

{% block content %}
    <div class="row content-block">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="menu-list">
                <ul>
                    <li>Voorgerechten</li>
                    <li>Hoofdgerechten</li>
                    <li>Nagerechten</li>
                    <li>3 gangen keuze menu</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}